head{
    background-color: white
}

body{
background:black
}

title{
color: Blue;

}

h1 {
    size: 200px;
    margin: auto;
    width: 300px;
    padding: 100px;
    color: blue 
    
}
p {
    size: 80px;
    color: bisque;
    margin: auto;
    width: 300px
}
