head{
    background-color: antiquewhite
}

body{
background: black
}
title{
color: Blue;

}
p1 {
    size: 50px;
    color: bisque
}
p2 {
    size: 50px;
    color: bisque
}
h1 {
    size: 100px;
    width: 5px;
    color: blue
    

}